.vscode/**
.vscode-test/**
src/**
.gitignore
.gitmodules
.git
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
colors/**
!colors/Unknown.png
data/dataextract.php